{% extends "layout.html" %}

{% block content %}
<div>
    <div class="row" style="margin-top: 25px;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title / Subtitle</th>
                    <th scope="col">Author</th>
                    <th scope="col">Has Image?</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
            <tr>
                <th scope="row">{{ post.id }}</th>
                <td>
                    <strong>{{ post.title }}</strong><br>
                    {% if post.subtitle %}
                        <em>{{ post.subtitle }}</em>
                    {% endif %}
                </td>
                <td>{{ post.author }}</td>
                <td>{{ 'Yes' if post.image_path else 'No' }}</td>
                <td>
                    <a href="{{ url_for('post', id=post.id) }}" class="btn btn-sm btn-primary">Edit</a>
                    <form action="{{ url_for('delete_post', id=post.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this post?');">Delete</button>
                    </form>
                    {% if post.image_path %}
                    <form action="{{ url_for('remove_image', id=post.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-warning">Remove Image</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <p><a class="btn btn-default" href="{{ url_for('new_post') }}">Create New Post</a></p>
    </div>
</div>
{% endblock %}
